/* CSS Document */
.menu:link, .menu:visited{
	background-color: white;
	color: black;
	border: 2px solid blue;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.menu:hover, .menu:active{
	background-color: blue;
	color: white;
}
.current{
	background-color: blue !important;
	color: white !important;
}
